body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#first{
    
    background-color: #0f0e17;
}
.container-fluid{
    padding: 2%  12%;
    color: white;
}
a.name{
    font-weight: 900;
    font-size: 2rem;
    color: white;

}
a.name:hover{
    color: #ff8906;
}

 a.nav-link{
    color: white;
}
a.nav-link:hover{
    color: #ff8906;
}
.first-part{
    margin: 6% 4%;
    text-align: center;
}
.fpb{
    padding: 2% 10% 8%;
}
h1,h2,h3,h4,h5,h6{
    color: #fffffe;
    font-size: 4rem;
}
p{
    color: #a7a9be;
    line-height: 2rem;
    font-size: 1.3rem;
    text-align: left;
}
.box-2 img{
    padding: 0% 12%;
    height:350px;
    text-align: center;
     
}
.box-1{
 padding: 10% 0;
}
.btn{
    background-color:#ff8906 ;
    color: #fffffe;
}
.btn:hover{
    background-color: white;
}
.type-container{
    
   

    background: var(--bg-color);
    
}
:root {
    --bg-color: #2E3D4B;
    --text-color: #6AE3FF;
}
.typewriter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.typewriter span
 {
    color: var(--text-color);
    text-transform: uppercase;
    padding: 10px;
    border-right: solid var(--text-color) 10px; 
    animation: cursor 1s ease-in-out infinite;
}
#feature{
    background-color: #0f0e17;
}


















/* media queries for mobile */
@keyframes cursor {
    from { border-color: var(--text-color); }
    to { border-color: transparent; }
}

@media (max-width: 576px) {
    .typewriter { font-size: 24px; }
    img{
        height: 300px;
        width: 300px;
        overflow-y:hidden;
        overflow-x: hidden;
        padding: 1rem;

    }
    
}
@media (max-width: 768px) {
    .typewriter { font-size: 36px; }
}